/* Import google fonts */
@import url("https://fonts.googleapis.com/css2?family=Bungee+Inline&family=Bungee+Shade&family=Monoton&family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
  --primary-text-color: black;
  --text-body-color: rgb(15, 16, 17);
  --secondary-text-color: #6e7680;
  --hyperlink-color: rgb(0, 85, 255);
  --primary-bg-color: #fffefc;
  --secondary-bg-color: white;
  --terciary-bg-color: #eaedf1;
  --border-color: rgb(224, 225, 235);
  --subtle-shadow-color: rgba(0, 0, 0, 0.05);
  --primary-outline-color: rgb(185, 139, 255);
  --primary-highlight-color: rgb(145, 255, 139);
}

.fade-in {
  animation-duration: 4s;
  animation-name: fade-in;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}

.slide-in-left {
  animation-duration: 2s;
  animation-name: slide-in-left;
}

@keyframes slide-in-left {
  from {
    margin-right: 100%;
    width: 300%;
    opacity: 0;
    transform: scale(0.1);
  }

  to {
    width: 100%;
    opacity: 1;
  }
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  display: grid;
  justify-items: center;
  align-items: center;
  padding-bottom: 4rem;
  background-color: var(--primary-bg-color);
}

hr {
  border-top: 2px dotted var(--border-color);
  border-bottom: 0;
  width: 66%;
  margin: 3rem 0;
}

h3,
h4,
p,
li {
  line-height: 150%;
}

h1 {
  font-family: masqualero, serif;
  font-size: 3rem;
  letter-spacing: 0.5px;
}

h2 {
  font-family: masqualero, serif;
  font-size: 1.75rem;
  letter-spacing: 0.5px;
}

h3 {
  font-family: "Bungee Shade", cursive;
  font-size: 2.2rem;
  font-weight: 100;
  margin: 1rem 0;
  color: var(--secondary-text-color);
}

h4 {
  font-size: 1.5rem;
  font-weight: 900;
  color: var(--secondary-text-color);
}

small {
  font-family: masqualero, serif;
  font-size: 1.1rem;
  color: var(--secondary-text-color);
}

p,
li {
  font-size: 1.1rem;
  letter-spacing: 0.5px;
  font-weight: 400;
  color: var(--text-body-color);
}

a {
  color: var(--hyperlink-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

li {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding: 0.25rem 0;
  overflow-wrap: break-word;
}

.foot-note {
  font-size: 0.85rem;
  font-weight: 500;
  color: var(--secondary-text-color);
  margin-bottom: 2.5rem;
}

nav {
  position: fixed;
  z-index: 10;
  top: 0;
  width: 100%;
  height: 4rem;
  background-color: var(--secondary-bg-color);
  display: grid;
  align-content: center;
  align-items: center;
  grid-template-columns: 12rem 11rem auto;
  text-align: center;
  padding-left: 1rem;
  box-shadow: 0 1rem 1rem var(--subtle-shadow-color);
}

nav .home {
  display: grid;
  grid-template-columns: 32px auto;
  align-items: center;
}

.home {
  padding-left: 0.5rem;
  margin: 0;
}

.home img {
  border-radius: 1rem;
}

nav a,
nav div,
nav p {
  color: var(--primary-text-color);
  font-size: 1.2rem;
}

nav a:hover,
.home p:hover {
  color: var(--hyperlink-color);
  text-decoration: none;
}

a:active {
  filter: brightness(70%);
  text-decoration: none;
}

.selected-nav {
  font-weight: bold;
}

.social-icons {
  justify-self: end;
  padding-right: 2rem;
}

.social-icon {
  padding-left: 1.5rem;
  font-size: 1.75rem;
}

.dropdown {
  position: relative;
  cursor: pointer;
}

.dropdown:hover {
  background-color: var(--terciary-bg-color);
  border-radius: 0.5rem;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 240px;
  box-shadow: 0px 8px 16px 0px var(--subtle-shadow-color);
  border-radius: 1rem;
  z-index: 1;
  background-color: var(--secondary-bg-color);
  text-align: left;
}

.dropdown-content div {
  margin: 1rem;
}

.dropdown-content a {
  line-height: 1.5;
  transform: translateX(-4rem);
}

.dropdown:hover .dropdown-content,
.dropdown:focus .dropdown-content {
  display: block;
  cursor: pointer;
}

.cover {
  display: grid;
  max-width: 1000px;
  justify-items: center;
  text-align: center;
  margin: 5rem 2rem 2rem;
}

.cover h1,
.cover small,
.cover h2,
.cover p {
  max-width: 800px;
}

.cover video {
  max-width: 800px;
  padding: 2.5rem 1rem;
  background-color: var(--terciary-bg-color);
  padding: 0.25rem;
  border-radius: 0.5rem;
}

.avatar-signature {
  display: grid;
  grid-template-columns: 5.5rem 1fr;
}

.avatar-signature img {
  width: 72px;
  border-radius: 1rem;
}

.vertical-video {
  max-height: 600px;
}

.small-cover-img {
  width: 250px;
}

.large-cover-img {
  max-width: 600px;
}

.home-cover-img img {
  max-width: 404px;
}

.section {
  max-width: 1000px;
  display: grid;
  gap: 2rem;
  margin: 0 4rem;
}

.section h2 {
  text-align: center;
}

.section > h3 {
  text-align: center;
  margin: 0 1rf;
}

.full-width {
  max-width: 1000px;
  background-color: var(--terciary-bg-color);
  padding: 0.25rem;
  border-radius: 0.5rem;
}

.landing {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  margin: 5rem 4rem 3rem 4rem;
  gap: 1rem;
}

.landing-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr auto;
  gap: 0.5rem;
}

.card {
  box-shadow: 0.5rem 0.5rem 0 0 var(--primary-text-color);
  border: 1px solid var(--primary-text-color);
  border-radius: 1rem;
  padding: 1rem;
  background-color: var(--secondary-bg-color);
  max-width: 40rem;
}

.wide-card {
  grid-column-start: 1;
  grid-column-end: 3;
}

.card:hover {
  box-shadow: 1rem 1rem 0 0 var(--primary-text-color);
  transform: scale(1.1);
  transition: 0.5s;
  background-color: var(--primary-highlight-color);
}

.card .foot-note {
  margin: 0;
}

.card button {
  width: 100%;
}

.card h2 {
  text-align: left;
  margin-top: 0;
}

.slide {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  gap: 2rem;
  margin-top: 2.5rem;
}

.under-full-width {
  margin-top: 0;
}

.cover-vertical-video {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  margin-bottom: 1rem;
  text-align: left;
}

.cover-vertical-video li {
  font-weight: 700;
}

.cover-vertical-video video {
  margin-top: 2rem;
}

.cover-vertical-video h1,
.cover-vertical-video p {
  text-align: left;
}

.quetzal {
  width: 50%;
}

.slide-left-column small,
.slide-left-column h2 {
  text-align: left;
}

.slide-right-column {
  max-width: 600px;
}

.slide-right-column li {
  max-width: 550px;
}

.slide-right-column img,
.slide-right-column video {
  max-width: 600px;
  max-height: 600px;
  background-color: var(--terciary-bg-color);
  padding: 0.25rem;
  border-radius: 0.5rem;
}

.slide-right-column button,
.card button {
  font-size: 1.1rem;
  font-weight: 500;
  border: 1px solid var(--primary-outline-color);
  background-color: var(--secondary-bg-color);
  color: var(--hyperlink-color);
  border-radius: 1rem;
  box-shadow: 0.25rem 0.25rem 1rem var(--primary-outline-color);
  padding: 1rem;
  margin-bottom: 1rem;
  cursor: pointer;
}

.slide-right-column button:hover,
.card button:hover {
  box-shadow: 0.25rem 0.25rem 0 var(--primary-text-color);
  color: var(--secondary-bg-color);
  background-color: var(--hyperlink-color);
  border: 2px solid var(--secondary-bg-color);
}

.slide-right-column button:active,
.card button:active {
  box-shadow: -0.25rem -0.25rem 0 var(--primary-text-color);
  border: none;
  transform: translateY(2px);
}

.slide-right-column button i {
  padding-right: 0.5rem;
}

/* Media query: smaller than 1200px */

@media (max-width: 1200px) {
  .cover video {
    max-width: 90%;
  }

  .full-width {
    max-width: 600px;
  }

  .slide {
    grid-template-columns: 1fr;
  }

  .slide-right-column img,
  .slide-right-column video {
    padding: 2.5rem 1rem;
    padding: 0.25rem;
  }

  .cover-vertical-video h1,
  .cover-vertical-video p {
    text-align: left;
  }

  .home-cover-img img {
    width: 90%;
  }

  .landing-cards {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}

/* Media query: smaller than 700px */

@media (max-width: 700px) {
  nav {
    grid-template-columns: 11rem 9rem 5rem auto;
  }

  .social-icons,
  nav .css-art {
    display: none;
  }

  nav a,
  nav div,
  nav p {
    color: var(--primary-text-color);
    font-size: 1rem;
  }

  .full-width {
    max-width: 100%;
  }

  .cover video {
    max-width: 100%;
  }

  h1 {
    font-size: 2rem;
  }

  h4 {
    font-size: 1.3rem;
  }

  p {
    font-size: 1rem;
  }

  .section {
    margin: 1rem 2rem;
  }

  .slide {
    gap: 0;
  }

  .landing {
    margin-top: 5rem;
  }

  .cover {
    text-align: left;
  }

  .large-cover-img {
    max-width: 66%;
  }

  .home-cover-img img {
    max-width: 50%;
  }

  .slide-left-column {
    max-width: 600px;
  }

  .slide-right-column {
    max-width: 600px;
  }

  .slide-right-column p {
    max-width: 600px;
  }

  .slide-right-column img {
    max-width: 100%;
  }

  .slide-right-column video {
    max-width: 100%;
  }

  .dropdown-content {
    transform: translateX(-5rem);
  }

  .cover-vertical-video {
    grid-template-columns: 1fr;
  }

  .landing {
    grid-template-columns: 1fr;
  }
}
